@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');

body{
  font-family: 'Open Sans Condensed', sans-serif;
  background-image: url("http://via.placeholder.com/1200x9000");
}

#canvas{
  border: 1px solid blue;
  position: relative;
  margin: 0 auto;
  width: 1200px;
  height: 9000px;
  padding: 0;
  z-index: 1;
}


.home{
  background-image: url(https://placeimg.com/1200/1000/animals);
  height: 1000px;
  z-index: 2;
}

.rock{
  background-color: red;
  height: 1000px;
  z-index: 2;
}

.fifties{
  background-color: orange;
  height: 1000px;
  z-index: 2;
}

.sixties{
  background-color: yellow;
  height: 1000px;
  z-index: 2;
}

.seventies{
  background-color: green;
  height: 1000px;
  z-index: 2;
}

.eighties{
  background-color: skyblue;
  height: 1000px;
  z-index: 2;
}

.nineties{
  background-color: blue;
  height: 1000px;
  z-index: 2;
}

.oo{
  background-color: violet;
  height: 1000px;
  z-index: 2;
}

.current{
  background-color: brown;
  height: 1000px;
  z-index: 2;
}

#counter {
  border: 1px solid black;
  position: absolute;
  top: 50px;
  left: 5px;
  margin: 0;
  padding: 10px;
  width: 200px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  background-color: white;
  z-index: 5;
}

.bg-banner{
  border: 1px solid green;
  position: absolute;
  top: 50px;
  left: 950px;
  margin: 0 auto;
  width: 200px;
  height: 300px;
  background-image: url(https://placeimg.com/1200/900/animals);
  z-index: 3;
}

.bg-banner2{
  border: 1px solid green;
  position: absolute;
  top: 450px;
  left: 50px;
  margin: 0 auto;
  width: 200px;
  height: 300px;
  background-image: url(https://placeimg.com/200/300/animals);
  z-index: 3;
}


.banner{
  border: 1px solid red;
  position: absolute;
  top: 200px;
  left: 100px;
  margin: 0 auto;
  width: 1000px;
  height: 500px;
  background-image: url(http://via.placeholder.com/1000x500);
  z-index: 4;
}

.rockpic{
  border: 1px solid red;
  position: absolute;
  top: 1150px;
  left: 300px;
  margin: 0 auto;
  width: 800px;
  height: 700px;
  background-image: url(http://via.placeholder.com/800x700);
  z-index: 3;
}

.rockinfo{
  border: 1px solid green;
  position: absolute;
  top: 1450px;
  left: 50px;
  margin: 0 auto;
  width: 400px;
  height: 300px;
  background-image: url(https://placeimg.com/400/300/animals);
  z-index: 4;
}

#person{
  /*border: 1px solid red;*/
  position: fixed;
  top: 320px;
  left: 500px;
  margin: 0 auto;
  width: 450px;
  height: 450px;
  background-image: url(https://placeimg.com/500/500/animals);
  z-index: 5;
}

.fiftyinfo{
  border: 1px solid green;
  position: absolute;
  top: 2050px;
  left: 550px;
  margin: 0 auto;
  width: 600px;
  height: 200px;
  background-image: url(https://placeimg.com/600/200/animals);
  z-index: 4;
}

.fiftybg{
  border: 1px solid red;
  position: absolute;
  top: 2430px;
  left: 20px;
  margin: 0 auto;
  width: 300px;
  height: 300px;
  background-image: url(http://via.placeholder.com/300x300);
  z-index: 3;
}

.sixtyinfo{
  border: 1px solid green;
  position: absolute;
  top: 3050px;
  left: 550px;
  margin: 0 auto;
  width: 600px;
  height: 200px;
  background-image: url(https://placeimg.com/600/200/animals);
  z-index: 4;
}

.sixtybg{
  border: 1px solid red;
  position: absolute;
  top: 3430px;
  left: 20px;
  margin: 0 auto;
  width: 300px;
  height: 300px;
  background-image: url(http://via.placeholder.com/300x300);
  z-index: 3;
}

.seventyinfo{
  border: 1px solid green;
  position: absolute;
  top: 4050px;
  left: 550px;
  margin: 0 auto;
  width: 600px;
  height: 200px;
  background-image: url(https://placeimg.com/600/200/animals);
  z-index: 4;
}

.seventybg{
  border: 1px solid red;
  position: absolute;
  top: 4430px;
  left: 20px;
  margin: 0 auto;
  width: 300px;
  height: 300px;
  background-image: url(http://via.placeholder.com/300x300);
  z-index: 3;
}

.eightyinfo{
  border: 1px solid green;
  position: absolute;
  top: 5050px;
  left: 550px;
  margin: 0 auto;
  width: 600px;
  height: 200px;
  background-image: url(https://placeimg.com/600/200/animals);
  z-index: 4;
}

.eightybg{
  border: 1px solid red;
  position: absolute;
  top: 5430px;
  left: 20px;
  margin: 0 auto;
  width: 300px;
  height: 300px;
  background-image: url(http://via.placeholder.com/300x300);
  z-index: 3;
}

.ninetyinfo{
  border: 1px solid green;
  position: absolute;
  top: 6050px;
  left: 550px;
  margin: 0 auto;
  width: 600px;
  height: 200px;
  background-image: url(https://placeimg.com/600/200/animals);
  z-index: 4;
}

.ninetybg{
  border: 1px solid red;
  position: absolute;
  top: 6430px;
  left: 20px;
  margin: 0 auto;
  width: 300px;
  height: 300px;
  background-image: url(http://via.placeholder.com/300x300);
  z-index: 3;
}

.ooinfo{
  border: 1px solid green;
  position: absolute;
  top: 7050px;
  left: 550px;
  margin: 0 auto;
  width: 600px;
  height: 200px;
  background-image: url(https://placeimg.com/600/200/animals);
  z-index: 4;
}

.oobg{
  border: 1px solid red;
  position: absolute;
  top: 7430px;
  left: 20px;
  margin: 0 auto;
  width: 300px;
  height: 300px;
  background-image: url(http://via.placeholder.com/300x300);
  z-index: 3;
}

.currentinfo{
  border: 1px solid green;
  position: absolute;
  top: 8050px;
  left: 550px;
  margin: 0 auto;
  width: 600px;
  height: 200px;
  background-image: url(https://placeimg.com/600/200/animals);
  z-index: 4;
}

.currentbg{
  border: 1px solid red;
  position: absolute;
  top: 8500px;
  left: 20px;
  margin: 0 auto;
  width: 300px;
  height: 300px;
  background-image: url(http://via.placeholder.com/300x300);
  z-index: 3;
}
