@import url('https://fonts.googleapis.com/css?family=Contrail+One|Saira+Condensed');

body{
  background-image: url(homebg.png);
  background-size: contain;
  font-family: 'Saira Condensed', sans-serif;
  color: white;
}

#canvas{
  position: relative;
  margin: 0 auto;
  width: 1200px;
  height: 9000px;
  padding: 0;
  z-index: 1;
}

/*
.home{
  border: 1px solid black;
  height: 1000px;
  z-index: 2;
}

.rock{
  border: 1px solid black;
  height: 1000px;
  z-index: 2;
}

.fifties{
  border: 1px solid black;
  height: 1000px;
  z-index: 2;
}

.sixties{
  border: 1px solid black;
  height: 1000px;
  z-index: 2;
}

.seventies{
  border: 1px solid black;
  height: 1000px;
  z-index: 2;
}

.eighties{
  border: 1px solid black;
  height: 1000px;
  z-index: 2;
}

.nineties{
  border: 1px solid black;
  height: 1000px;
  z-index: 2;
}

.oo{
  border: 1px solid black;
  height: 1000px;
  z-index: 2;
}

.current{
  border: 1px solid black;
  height: 1000px;
  z-index: 2;
}
*/

#counter {
  position: absolute;
  top: 50px;
  left: 5px;
  margin: 0;
  padding-left: 10px;
  width: 190px;
  height: 100px;
  line-height: 100px;
  text-indent: 5px;
  font-family: 'Contrail One', cursive;
  font-size: 3em;
  color: white;
  background-image: url(counter.png);
  background-repeat: no-repeat;
  z-index: 5;
}

/*.bg-banner{
  position: absolute;
  top: 50px;
  left: 550px;
  margin: 0 auto;
  width: 600px;
  height: 700px;
  background-image: url(bgbanner.svg);
  z-index: 3;
  opacity: 0.4;
}

.bg-banner2{
  position: absolute;
  top: 60px;
  left: 40px;
  margin: 0 auto;
  width: 450px;
  height: 700px;
  background-image: url(bgbannertwo.svg);
  z-index: 3;
  opacity: 0.4;
}*/

.banner{
  position: absolute;
  top: 180px;
  left: 100px;
  margin: 0 auto;
  width: 1000px;
  height: 500px;
  background-image: url(banner.png);
  z-index: 4;
}

.rockpic{
  position: absolute;
  top: 1150px;
  left: 350px;
  margin: 0 auto;
  width: 800px;
  height: 700px;
  background-image: url(rockpic.svg);
  z-index: 3;
}

.rockinfo{
  position: absolute;
  top: 1450px;
  left: 100px;
  width: 400px;
  height: 400px;
  background-color: #822f19;
  border-radius: 50%;
  opacity: 0.9;
  z-index: 4;
}

.rocktext{
  width: 250px;
  padding: 50px 20px 0 80px;
  text-align: justify;
  font-size: 1em;
}

#person{
  /*border: 1px solid red;*/
  position: fixed;
  display: inline-block;
  top: 320px;
  left: 500px;
  margin: 0 auto;
  width: 450px;
  height: 450px;
  background-image: none;
  z-index: 5;
}

#music{
  position: fixed;
  display: inline-block;
  top: 560px;
  left: 900px;
  margin: 0 auto;
  width: 200px;
  height: 200px;
  background-image: none;
  z-index: 5;
}

.fiftyinfo{
  position: absolute;
  top: 2100px;
  left: 550px;
  margin: 0 auto;
  width: 600px;
  height: 275px;
  background-color: #513636;
  border-radius: 20px;
  opacity: 0.6;
  z-index: 4;
}

.fiftytext{
  width: 550px;
  padding: 10px 20px 0 30px;
  text-align: justify;
  font-size: 1em;
}

.fiftyone{
  position: absolute;
  top: 2420px;
  left: 40px;
  margin: 0 auto;
  width: 300px;
  height: 400px;
  background-image: url(fiftybg.svg);
  z-index: 4;
}

.fiftytwo{
  position: absolute;
  top: 2200px;
  left: 210px;
  margin: 0 auto;
  width: 300px;
  height: 300px;
  background-image: url(fiftytwo.svg);
  z-index: 3;
}


.sixtyinfo{
  position: absolute;
  top: 3100px;
  left: 470px;
  margin: 0 auto;
  width: 600px;
  height: 280px;
  background-color: #513636;
  border-radius: 20px;
  opacity: 0.6;
  z-index: 4;
}

.sixtytext{
  width: 550px;
  padding: 10px 20px 0 30px;
  text-align: justify;
  font-size: 1em;
}

.sixtybg{
  position: absolute;
  top: 3200px;
  left: 10px;
  margin: 0 auto;
  width: 380px;
  height: 220px;
  background-image: url(sixtybg.svg);
  z-index: 3;
}

.sixtytwo{
  position: absolute;
  top: 3550px;
  left: 210px;
  margin: 0 auto;
  width: 250px;
  height: 250px;
  background-image: url(sixtytwo.svg);
  z-index: 2;
}

.seventyinfo{
  position: absolute;
  top: 4050px;
  left: 530px;
  margin: 0 auto;
  width: 600px;
  height: 220px;
  background-color: #513636;
  border-radius: 20px;
  opacity: 0.6;
  z-index: 4;
}

.seventytext{
  width: 550px;
  padding: 10px 20px 0 30px;
  text-align: justify;
  font-size: 1em;
}

.seventybg{
  position: absolute;
  top: 4500px;
  left: 100px;
  margin-top: 150px;
  width: 300px;
  height: 200px;
  background-image: url(seventybg.svg);
  z-index: 3;
}

.seventytwo{
  position: absolute;
  top: 4100px;
  left: 200px;
  margin: 0 auto;
  width: 250px;
  height: 400px;
  background-image: url(seventytwo.svg);
  z-index: 2;
}

.eightyinfo{
  position: absolute;
  top: 5050px;
  left: 510px;
  margin: 0 auto;
  width: 600px;
  height: 225px;
  background-color: #513636;
  border-radius: 20px;
  opacity: 0.6;
  z-index: 4;
}

.eightytext{
  width: 550px;
  padding: 10px 20px 0 30px;
  text-align: justify;
  font-size: 1em;
}

.eightybg{
  position: absolute;
  top: 5430px;
  left: 20px;
  margin-top: 220px;
  width: 350px;
  height: 240px;
  background-image: url(eightybg.svg);
  z-index: 3;
}

.eightytwo{
  position: absolute;
  top: 5000px;
  left: 220px;
  margin-top: 160px;
  width: 300px;
  height: 400px;
  background-image: url(eightytwo.svg);
  z-index: 2;
}

.ninetyinfo{
  position: absolute;
  top: 6050px;
  left: 550px;
  margin: 0 auto;
  width: 600px;
  height: 280px;
  background-color: #513636;
  border-radius: 20px;
  opacity: 0.6;
  z-index: 4;
}

.ninetytext{
  width: 550px;
  padding: 10px 20px 0 30px;
  text-align: justify;
  font-size: 1em;
}

.ninetybg{
  position: absolute;
  top: 6430px;
  left: 20px;
  margin-top: 100px;
  width: 300px;
  height: 300px;
  background-image: url(ninetybg.svg);
  z-index: 3;
}

.ninetytwo{
  position: absolute;
  top: 6200px;
  left: 130px;
  width: 400px;
  height: 300px;
  background-image: url(ninetytwo.svg);
  z-index: 2;
}

.ooinfo{
  position: absolute;
  top: 7050px;
  left: 550px;
  margin: 0 auto;
  width: 600px;
  height: 250px;
  background-color: #513636;
  border-radius: 20px;
  opacity: 0.6;
  z-index: 4;
}

.ootext{
  width: 550px;
  padding: 10px 20px 0 30px;
  text-align: justify;
  font-size: 1em;
}

.oobg{
  position: absolute;
  top: 7300px;
  left: 60px;
  margin-top: 5px;
  width: 250px;
  height: 400px;
  background-image: url(oobg.svg);
  z-index: 3;
}

.ootwo{
  position: absolute;
  top: 7250px;
  left: 230px;
  width: 300px;
  height: 180px;
  background-image: url(ootwo.svg);
  z-index: 2;
}

.currentinfo{
  position: absolute;
  top: 8180px;
  left: 560px;
  margin: 0 auto;
  width: 600px;
  height: 280px;
  background-color: #513636;
  border-radius: 20px;
  opacity: 0.6;
  z-index: 4;
}

.currenttext{
  width: 550px;
  padding: 10px 20px 0 30px;
  text-align: justify;
  font-size: 1em;
}

.currentbg{
  position: absolute;
  top: 8600px;
  left: 20px;
  width: 400px;
  height: 300px;
  background-image: url(currenttwo.svg);
  z-index: 2;
}

.currenttwo{
  position: absolute;
  top: 8240px;
  left: 220px;
  margin-top: 60px;
  width: 300px;
  height: 300px;
  background-image: url(currentbg.svg);
  z-index: 3;
}

.backtotop{
  position: absolute;
	width: 60px;
  height: 60px;
	margin: 0 auto;
	top: 8930px;
	left: 1100px;
}

.backtotop:hover {
  opacity: 0.5;
}
